body {
  background-color: rgb(10, 10, 10);
}

body {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Replica";
  src: url("assets\ReplicaTrialTT-Heavy.ttf");
}

#title {
  margin: 0;
  color: white;
  font-family: "Replica";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
